Package: com.m4fn3.k2genmity
Name: K2genmity
Version: 2.0.1
Architecture: iphoneos-arm
Description: Enhance features of Enmity plugins by mafu
Maintainer: mafu
Author: mafu
Section: Tweaks
Depends: mobilesubstrate
